.CartBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.CartBox .LeftBox {
  display: flex;
  flex-direction: column;
  width: 55%;
  padding: 24px;
  overflow: scroll;
  max-height: 500px;
}

.CartBox .LeftBox .CartTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.CartBox .LeftBox .ProductDetail {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  margin: 8px;
  border-bottom: 2px solid #eeeeee;
}

.CartBox .LeftBox .ProductDetail .updown {
  width: 16px;
  height: 16px;
}

.CartBox .LeftBox .ProductDetail input[type='text'] {
  width: 36px;
  height: 50px;
  text-align: center;
}

.CartBox .LeftBox .ProductDetail img:hover {
  cursor: pointer;
}

.CartBox .RightBox {
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 35%;
  background-color: #eeeeee;
}

.CartBox .RightBox .OrderTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 97%;
  padding: 16px;
}

.clearButton {
  position: relative;
  display: inline-flex;
  width: 160px;
  height: 60px;
  /* margin: 0 15px; */
  perspective: 1000px;
}

.clearButton .clearButtonA {
  font-size: 16px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform 0.25s;
  font-family: 'Montserrat', sans-serif;
}
.clearButton .clearButtonA:before,
.clearButton .clearButtonA:after {
  position: absolute;
  content: 'CLEAR CART';
  height: 50px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  box-sizing: border-box;
  border-radius: 5px;
}
.clearButton .clearButtonA:before {
  color: black;
  background: #fff;
  transform: rotateY(0deg) translateZ(25px);
}
.clearButton .clearButtonA:after {
  border: none;
  color: white;
  background: red;
  transform: rotateX(90deg) translateZ(25px);
}
.clearButton .clearButtonA:hover {
  transform: translateZ(-25px) rotateX(-90deg);
  cursor: pointer;
}

.checkoutButton {
  position: relative;
  display: inline-flex;
  width: 160px;
  height: 60px;
  /* margin: 0 15px; */
  perspective: 1000px;
}

.checkoutButton .checkoutButtonA {
  font-size: 16px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform 0.25s;
  font-family: 'Montserrat', sans-serif;
}
.checkoutButton .checkoutButtonA:before,
.checkoutButton .checkoutButtonA:after {
  position: absolute;
  content: 'CHECKOUT';
  height: 50px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  box-sizing: border-box;
  border-radius: 5px;
}
.checkoutButton .checkoutButtonA:before {
  color: black;
  background: #fff;
  transform: rotateY(0deg) translateZ(25px);
}
.checkoutButton .checkoutButtonA:after {
  border: none;
  color: white;
  background: rgb(2, 216, 66);
  transform: rotateX(90deg) translateZ(25px);
}
.checkoutButton .checkoutButtonA:hover {
  transform: translateZ(-25px) rotateX(-90deg);
  cursor: pointer;
}

.Button {
  border: none;
  width: 180px;
  height: 50px;
  margin: 0;
  padding: 0;
}

input[type='text']:disabled {
  background-color: #fff;
}

.address {
  font-size: 18px;
  width: 300px;
  height: 210px;
  border: none;
}

.addressForm {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 400px;
}
